**/*.swp
**/.ycm*
.vimrc
*~
src/cpp/build
src/cpp/zend_ext/.libs
src/cpp/zend_ext/autom4te.cache
src/cpp/zend_ext/build
src/cpp/zend_ext/git
src/cpp/zend_ext/include
src/cpp/zend_ext/modules
src/cpp/zend_ext/*.m4
src/cpp/zend_ext/config*
!src/cpp/zend_ext/config.m4
src/cpp/zend_ext/*.la
src/cpp/zend_ext/*.lo
src/cpp/zend_ext/*.sh
src/cpp/zend_ext/.deps
src/cpp/zend_ext/install-sh
src/cpp/zend_ext/libtool
src/cpp/zend_ext/Makefile*
src/cpp/zend_ext/missing
src/cpp/zend_ext/mkinstalldirs
src/cpp/zend_ext/run-tests.php

